﻿@{
    ViewBag.Title = "Inicio";
}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left" data-aos="fade-up">
        <h1>Bienvenido a SAC</h1>
        <h2>Su tranquilidad esta con nosotros</h2>
        <h2>Conozca nuestras opciones de ahorro y prestamo</h2>
        <a href="#about" class="btn-get-started scrollto">Sobre nosotros</a>
    </div>
</section><!-- End Hero -->

<main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-7" data-aos="fade-right">
                    <img src="../../Content/assets/img/about-img.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-xl-6 col-lg-5 pt-5 pt-lg-0">
                    <h3 data-aos="fade-up">Sobre nosotros</h3>
                    <p data-aos="fade-up">
                        Orientamos, representamos y promovemos los intereses de nuestros clientes, con el propósito de estimular el desarrollo
                        de una cultura financiera que favorezca la bancarización y el mejor aprovechamiento de las oportunidades que brinda el Sistema
                        y generar la rentabilidad suficiente, para mantener nuestra solidez, reafirmar nuestra confiabilidad y contribuir con el desarrollo sostenible del país.
                    </p>
                    <div class="icon-box" data-aos="fade-up">
                        <i class="bx bx-receipt"></i>
                        <h4>Corporis voluptates sit</h4>
                        <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
                    </div>

                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <i class="bx bx-cube-alt"></i>
                        <h4>Ullamco laboris nisi</h4>
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
                    </div>

                    <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                        <i class="bx bx-cube-alt"></i>
                        <h4>Ullamco laboris nisi</h4>
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End About Section -->
    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
        <div class="container">

            <div class="row">
                <div class="col-lg-4 mb-5 mb-lg-0" data-aos="fade-right">
                    <ul class="nav nav-tabs flex-column">
                        <li class="nav-item">
                            <a class="nav-link active show" data-toggle="tab" href="#tab-1">
                                <h4>Aprovechamiento al maximo</h4>
                                <p>Bajo nuestro propios metodos buscamos el mayor ganancias a nuestro clientes.</p>
                            </a>
                        </li>
                        <li class="nav-item mt-2">
                            <a class="nav-link" data-toggle="tab" href="#tab-2">
                                <h4>Mas Cerca de usted</h4>
                                <p>Nuestro servicio en linea a un solo click</p>
                            </a>
                        </li>
                        <li class="nav-item mt-2">
                            <a class="nav-link" data-toggle="tab" href="#tab-3">
                                <h4>Educacion Financiera</h4>
                                <p>Nuestro objetivo es concientizar su desarrollo y fortalecimiento</p>
                            </a>
                        </li>
                        <li class="nav-item mt-2">
                            <a class="nav-link" data-toggle="tab" href="#tab-4">
                                <h4>Informacion financieria</h4>
                                <p>Informacion que usted necesita a su disposicion</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-7 ml-auto" data-aos="fade-left">
                    <div class="tab-content">
                        <div class="tab-pane active show" id="tab-1">
                            <figure>
                                <img src="../../Content/assets/img/features-1.png" alt="" class="img-fluid">
                            </figure>
                        </div>
                        <div class="tab-pane" id="tab-2">
                            <figure>
                                <img src="../../Content/assets/img/features-2.png" alt="" class="img-fluid">
                            </figure>
                        </div>
                        <div class="tab-pane" id="tab-3">
                            <figure>
                                <img src="../../Content/assets/img/features-3.png" alt="" class="img-fluid">
                            </figure>
                        </div>
                        <div class="tab-pane" id="tab-4">
                            <figure>
                                <img src="../../Content/assets/img/features-4.png" alt="" class="img-fluid">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Features Section -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>Servicios</h2>
                <p>Contamos con la oferta justa a lo que está buscando.</p>
            </div>

            <div class="row">
                <div class="col-md-6 col-lg-6 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up">
                    <div class="icon-box icon-box-pink">
                        <div class="icon"><i class="bx bxl-dribbble"></i></div>
                        <h4 class="title"><a href="">AHORRO</a></h4>
                        <p class="description">Díganos cuándo y cuánto quiere ahorrar y nosotros nos encargamos del resto y ponemos a su disposición diferentes cuentas de ahorro para sus metas personales, de forma fácil, ágil y rápida.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon-box icon-box-cyan">
                        <div class="icon"><i class="bx bx-file"></i></div>
                        <h4 class="title"><a href="">Creditos</a></h4>
                        <p class="description">Le ofrecemos la opcion de crédito para que cumpla sus metas de manera ágil, conveniente y con un financiamiento adecuado a su realidad financiera, todo ello acompañado por un equipo de colaboradores comprometidos con velar por su bienestar y el de su familia.</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Services Section -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="section-bg">
        <div class="container" data-aos="fade-up">
            <div class="row contact-info">
                <div class="col-md-4">
                    <div class="contact-phone">
                        <i class="ion-ios-telephone-outline"></i>
                        <h3>Central telefónica</h3>
                        <p><a href="tel:+155895548855">+506 63362551</a></p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="contact-email">
                        <i class="ion-ios-email-outline"></i>
                        <h3>Correo electrónico</h3>
                        <p><a href="mailto:info@example.com">serviciocliente@sac.com</a></p>
                    </div>
                </div>
            </div>

            <div class="section-header">
                <h3>Contáctenos</h3>
                <p>
                    Nos encargaremos con la mayor brevedad posible
                </p>
            </div>

            <div class="form">
                <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Nombre completo" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                            <div class="validate"></div>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Correo electrónico" data-rule="email" data-msg="Please enter a valid email" />
                            <div class="validate"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Título" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                        <div class="validate"></div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Mensaje"></textarea>
                        <div class="validate"></div>
                    </div>
                    @*<div class="mb-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Tu mensaje ha sido enviado. ¡Gracias!</div>
                        </div>*@
                    <a href="#about" class="btn-get-started scrollto">@*Sobre nosotros*@</a>

                    <div class=""><button type="submit" class="btn btn-outline-secondary">Enviar Mensaje</button></div>
                </form>
            </div>
        </div>
    </section><!-- End Contact Section -->
</main><!-- End #main -->
