﻿@using ProyectoIngenieria.Models.ViewModels.Creditos

@model EditarCreditosViewModel

@{
    ViewBag.Title = "Eliminar crédito";
}

<main id="main" style="margin-top: 5rem;">
    <div class="container">
        <h2>Eliminar crédito del catálogo</h2>

        <h4>¿Está seguro de eliminar el crédito <b>@Html.DisplayFor(model => model.Nombre)</b> del catálogo?</h4>
        <div>
            @using (Html.BeginForm()) {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Id)

                <div class="form-actions no-color">
                    <input type="submit" value="Eliminar" class="btn btn-outline-danger" />
                    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-outline-dark" })
                </div>
            }
        </div>
    </div>
</main>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
