﻿@using ProyectoIngenieria.Models.ViewModels.Creditos;

@model IEnumerable<IndexCreditosViewModel>

@{
    ViewBag.Title = "Catálogo de créditos";
    string TipoUsuario = Convert.ToString(Session["TipoUsuario"]);
}

<main id="main" style="margin-top: 5rem;">
    <div class="container">

        <h2>Catálogo de créditos</h2>

        <p>
            @Html.ActionLink("Agregar", "Create", null, new { @class = "btn btn-primary" })
            @Html.ActionLink("Regresar", "Index", "Usuario", null, new { @class = "btn btn-secondary" })
        </p>

        <table class="table">
            <tr>
                <th nowrap>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th nowrap>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th nowrap>
                    @Html.DisplayNameFor(model => model.Tasa)
                </th>
                <th nowrap>
                    @Html.DisplayNameFor(model => model.Plazo)
                </th>
                <th nowrap>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model) {
                <tr>
                    <td nowrap>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td nowrap>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td nowrap>
                        @Html.DisplayFor(modelItem => item.Tasa)
                    </td>
                    <td nowrap>
                        @Html.DisplayFor(modelItem => item.Plazo)
                    </td>
                    <td nowrap>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                    <td nowrap>
                        @Html.ActionLink("Actualizar", "Edit", new { id = item.Id }) |
                        @{
                            if (TipoUsuario.Equals("Administrador")) {
                                @Html.ActionLink("Borrar", "Delete", new { id = item.Id })
                            }
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</main>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
