﻿
@{
    ViewBag.Title = "Cambio de contraseña!!";
}
<main id="main" style="margin-top: 5rem;">
    <div class="container">
        <div class="jumbotron">
            <h2><strong>@ViewBag.Title</strong></h2>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <form id="frmCambioPass" name="frmCambioPass" action="/" method="post" autocomplete="off">
                    <div class="form-group">
                        <label>Olvidé mi contraseña</label>
                        <input type="text" name="NombreUsuario" id="NombreUsuario" value="" placeholder="Ingrese el nombre del usuario" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="button" name="btnEnviarCorreo" id="btnEnviarCorreo" value="Enviar" class="btn btn-outline-success form-control" />
                    </div>
                    
                </form>
            </div>
        </div>
        <div class="row">
            <p>Se enviara un correo electrónico con su nueva contraseña!!</p>
        </div>
    </div>


</main>
@Html.ValidationSummary(true)
@section Scripts{
    <script src="~/Scripts/JSGenerico.js"></script>
    <script src="~/Scripts/InicioSesion/InicioSesion.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
}