﻿@using ProyectoIngenieria.Models.ViewModels.Ahorros;
@using ProyectoIngenieria.Models.ViewModels.Creditos;

@{
    ViewBag.Title = "Página de usuario";
    string Direccion = Url.Action("IniciarSesion", "Usuario");
    string TipoUsuario = Convert.ToString(Session["TipoUsuario"]);

    IEnumerable<AhorrosClienteViewModel> AhorrosCliente = ViewBag.Ahorros;
    IEnumerable<CreditosClienteViewModel> CreditosCliente = ViewBag.Creditos;
}

<main id="main" style="margin-top: 5rem;">
    <div class="container">

        @{
            if (TipoUsuario.Equals("Administrador")) {
                <h3>Bienvenido a las opciones de administrador</h3>

                <div class="jumbotron">
                    <a href="@Url.Action("Index", "Usuarios")" class="btn btn-outline-primary">Usuarios del sistema</a>
                    <a href="@Url.Action("Index", "Creditos")" class="btn btn-outline-success">Catálogo de créditos</a>
                    <a href="@Url.Action("Index", "Ahorros")" class="btn btn-outline-dark">Gestión de ahorros</a>
                </div>
            }
            else if (TipoUsuario.Equals("Colaborador")) {
                <h3>Bienvenido a las opciones de colaborador</h3>
            }
            else if (TipoUsuario.Equals("Cliente")) {
                <h3>Bienvenido a su perfil de cliente</h3>

                <div class="jumbotron">
                    <div class="row">
                        <div class="col-sm-12">
                            <h5>Sus ahorros</h5>

                            <table class="table table-responsive">
                                <tr>
                                    <th nowrap>
                                        @Html.DisplayNameFor(model => AhorrosCliente.FirstOrDefault().NombreAhorro)
                                    </th>
                                    <th nowrap>
                                        @Html.DisplayNameFor(model => AhorrosCliente.FirstOrDefault().Tasa)
                                    </th>
                                    <th nowrap>
                                        @Html.DisplayNameFor(model => AhorrosCliente.FirstOrDefault().Vencimiento)
                                    </th>
                                    <th nowrap>
                                        @Html.DisplayNameFor(model => AhorrosCliente.FirstOrDefault().AporteAcordado)
                                    </th>
                                    <th nowrap>
                                        @Html.DisplayNameFor(model => AhorrosCliente.FirstOrDefault().Saldo)
                                    </th>
                                    <th nowrap>
                                        @Html.DisplayNameFor(model => AhorrosCliente.FirstOrDefault().MontoUltimoAporte)
                                    </th>
                                    <th nowrap>
                                        @Html.DisplayNameFor(model => AhorrosCliente.FirstOrDefault().UltimoAporte)
                                    </th>
                                    <th nowrap>
                                        @Html.DisplayNameFor(model => AhorrosCliente.FirstOrDefault().Observaciones)
                                    </th>
                                    <th></th>
                                </tr>

                                @foreach (var item in AhorrosCliente) {
                                    <tr>
                                        <td nowrap>
                                            @Html.DisplayFor(modelItem => item.NombreAhorro)
                                        </td>
                                        <td nowrap>
                                            @Html.DisplayFor(modelItem => item.Tasa)
                                        </td>
                                        <td nowrap>
                                            @Html.DisplayFor(modelItem => item.Vencimiento)
                                        </td>
                                        <td nowrap>
                                            @Html.DisplayFor(modelItem => item.AporteAcordado)
                                        </td>
                                        <td nowrap>
                                            @Html.DisplayFor(modelItem => item.Saldo)
                                        </td>
                                        <td nowrap>
                                            @Html.DisplayFor(modelItem => item.MontoUltimoAporte)
                                        </td>
                                        <td nowrap>
                                            @Html.DisplayFor(modelItem => item.UltimoAporte)
                                        </td>
                                        <td nowrap>
                                            @Html.DisplayFor(modelItem => item.Observaciones)
                                        </td>
                                        <td nowrap>
                                            @Html.ActionLink("Pagos", "Pagos", "Creditos", new { id = item.Id })
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>

                <div class="jumbotron">
                    <div class="row">
                        <div class="col-sm-12">
                            <h5>Sus créditos</h5>

                            <table class="table table-responsive">
                                <tr>
                                    <th nowrap>
                                        @Html.DisplayNameFor(model => CreditosCliente.FirstOrDefault().NombreCredito)
                                    </th>
                                    <th nowrap>
                                        @Html.DisplayNameFor(model => CreditosCliente.FirstOrDefault().Tasa)
                                    </th>
                                    <th nowrap>
                                        @Html.DisplayNameFor(model => CreditosCliente.FirstOrDefault().Monto)
                                    </th>
                                    <th nowrap>
                                        @Html.DisplayNameFor(model => CreditosCliente.FirstOrDefault().Plazo)
                                    </th>
                                    <th nowrap>
                                        @Html.DisplayNameFor(model => CreditosCliente.FirstOrDefault().Cuota)
                                    </th>
                                    <th nowrap>
                                        @Html.DisplayNameFor(model => CreditosCliente.FirstOrDefault().SaldoActual)
                                    </th>
                                    <th nowrap>
                                        @Html.DisplayNameFor(model => CreditosCliente.FirstOrDefault().PlazoRestante)
                                    </th>
                                    <th nowrap>
                                        @Html.DisplayNameFor(model => CreditosCliente.FirstOrDefault().MontoUltimoPago)
                                    </th>
                                    <th nowrap>
                                        @Html.DisplayNameFor(model => CreditosCliente.FirstOrDefault().UltimoPago)
                                    </th>
                                    <th nowrap>
                                        @Html.DisplayNameFor(model => CreditosCliente.FirstOrDefault().Observaciones)
                                    </th>
                                    <th></th>
                                </tr>

                                @foreach (var item in CreditosCliente) {
                                    <tr>
                                        <td nowrap>
                                            @Html.DisplayFor(modelItem => item.NombreCredito)
                                        </td>
                                        <td nowrap>
                                            @Html.DisplayFor(modelItem => item.Tasa)
                                        </td>
                                        <td nowrap>
                                            @Html.DisplayFor(modelItem => item.Monto)
                                        </td>
                                        <td nowrap>
                                            @Html.DisplayFor(modelItem => item.Plazo)
                                        </td>
                                        <td nowrap>
                                            @Html.DisplayFor(modelItem => item.Cuota)
                                        </td>
                                        <td nowrap>
                                            @Html.DisplayFor(modelItem => item.SaldoActual)
                                        </td>
                                        <td nowrap>
                                            @Html.DisplayFor(modelItem => item.PlazoRestante)
                                        </td>
                                        <td nowrap>
                                            @Html.DisplayFor(modelItem => item.MontoUltimoPago)
                                        </td>
                                        <td nowrap>
                                            @Html.DisplayFor(modelItem => item.UltimoPago)
                                        </td>
                                        <td nowrap>
                                            @Html.DisplayFor(modelItem => item.Observaciones)
                                        </td>
                                        <td nowrap>
                                            @Html.ActionLink("Aportes", "Aportes", "Ahorros", new { id = item.Id })
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            }
            else {
                <h3>Bienvenido</h3>
            }
        }

        <div class="jumbotron">
            <form action="@Url.Action("CerrarSesion", "Usuario")" method="post">
                <input type="submit" value="Cerrar sesión" />
            </form>
        </div>
    </div>
</main>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
