﻿@using ProyectoIngenieria.Models.ViewModels

@model IniciarSesionViewModel

@{
    ViewBag.Title = "Inicio sesión";
    string Direccion = Url.Action("IniciarSesion", "Usuario");
}

<main id="main" style="margin-top: 5rem;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>Iniciar sesión</h3>
            </div>
            <div class="col-sm-12 col-md-4">
                <form id="IdInicioSesion" action="@Direccion" method="post" autocomplete="off">
                    <div class="form-group">
                        <label>Nombre de usuario</label>
                        <input type="text" name="NombreUsuario" id="NombreUsuario" value="" placeholder="Ingrese el nombre del usuario" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Contraseña</label>
                        <input type="password" name="Contrasena" id="Contrasena" value="" placeholder="Ingrese la contraseña" class="form-control" />
                    </div>
                    <div class="form-group">
                        <a href="~/Usuario/CambioPass">Cambiar contraseña</a>
                    </div>
                    <div class="form-group">
                        <input type="submit" id="btnIniciar" name="btnIniciar" value="Iniciar sesión" class="btn btn-success" />
                        <input type="reset" name="btnLimpiar" id="btnlimpiar" value="Limpiar formulario" class="btn btn-warning" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

@Html.ValidationSummary(true)