﻿@{
    ViewBag.Title = "Confirmación";
}


<main id="main" style="margin-top: 5rem;">
    <div class="container">

        <h2>Los datos del usuario han sido guardados correctamente</h2>

        <p>
            @Html.ActionLink("Ir a lista de usuarios", "Index", null, new { @class = "btn btn-outline-primary" })
            @Html.ActionLink("Ir a opciones de administrador", "Index", "Usuario", null, new { @class = "btn btn-outline-secondary" })
        </p>
    </div>
</main>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
