﻿@using ProyectoIngenieria.Models.ViewModels.Usuarios

@model EditarUsuariosViewModel

@{
    ViewBag.Title = "Eliminar usuario";
    string NombreCompleto = Model.Nombre + " " + Model.Apellido1 + " " + Model.Apellido2;
}

<main id="main" style="margin-top: 5rem;">
    <div class="container">
        <h2>Eliminar usuario del sistema</h2>

        <h4>¿Está seguro de eliminar el usuario <b>@NombreCompleto</b> del catálogo?</h4>
        <div>
            @using (Html.BeginForm()) {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.IdUsuario)

                <div class="form-actions no-color">
                    <input type="submit" value="Eliminar" class="btn btn-outline-danger" />
                    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-outline-dark" })
                </div>
            }
        </div>
    </div>
</main>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
