﻿@using ProyectoIngenieria.Models.ViewModels.Usuarios;

@model IEnumerable<IndexUsuariosViewModel>

@{
    ViewBag.Title = "Usuarios";
    string TipoUsuario = Convert.ToString(Session["TipoUsuario"]);
}


<main id="main" style="margin-top: 5rem;">
    <div class="container">

        <h2>Usuarios del sistema</h2>

        <p>
            @Html.ActionLink("Agregar", "Agregar", null, new { @class = "btn btn-primary" })
            @Html.ActionLink("Regresar", "Index", "Usuario", null, new { @class = "btn btn-secondary" })
        </p>

        <table class="table">
            <tr>
                <th nowrap>
                    @Html.DisplayNameFor(model => model.NombreCompleto)
                </th>
                <th nowrap>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th nowrap>
                    @Html.DisplayNameFor(model => model.Correo)
                </th>
                <th nowrap>
                    @Html.DisplayNameFor(model => model.Telefono)
                </th>
                <th nowrap>
                    @Html.DisplayNameFor(model => model.NombreUsuario)
                </th>
                <th nowrap>
                    @Html.DisplayNameFor(model => model.TipoUsuario)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model) {
                <tr>
                    <td nowrap>
                        @Html.DisplayFor(modelItem => item.NombreCompleto)
                    </td>
                    <td nowrap>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                    <td nowrap>
                        @Html.DisplayFor(modelItem => item.Correo)
                    </td>
                    <td nowrap>
                        @Html.DisplayFor(modelItem => item.Telefono)
                    </td>
                    <td nowrap>
                        @Html.DisplayFor(modelItem => item.NombreUsuario)
                    </td>
                    <td nowrap>
                        @Html.DisplayFor(modelItem => item.TipoUsuario)
                    </td>
                    <td nowrap>
                        @Html.ActionLink("Actualizar", "Editar", new { id = item.IdUsuario }) |
                        @{
                            if (TipoUsuario.Equals("Administrador")) {
                                @Html.ActionLink("Borrar", "Eliminar", new { id = item.IdUsuario })
                            }
                        }
                    </td>
                </tr>
            }

        </table>
    </div>
</main>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
