﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <title>SAC</title>

    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../../Content/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../Content/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="../../Content/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../../Content/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../../Content/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="../../Content/assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../../Content/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Maxim - v2.2.0
    * Template URL: https://bootstrapmade.com/maxim-free-onepage-bootstrap-theme/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>
<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex">

            <div class="logo mr-auto">
                <h1 class="text-light"><a href="@Url.Action("Index", "Home")">SAC</a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="../../Content/assets/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="active"><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                    <li><a href="@Url.Action("Index", "Home")#about">Sobre nosotros</a></li>
                    <li><a href="@Url.Action("Index", "Home")#services">Servicios</a></li>
                    <li><a href="@Url.Action("Index", "Home")#contact">Contáctenos</a></li>
                    <li>
                        @{
                            bool UsuarioLogueado = Convert.ToBoolean(Session["Logueado"]);

                            if (UsuarioLogueado)
                            {
                                @Html.ActionLink("Mi cuenta", "Index", "Usuario");
                            }
                            else
                            {
                                @Html.ActionLink("Iniciar sesión", "InicioSesion", "Usuario");
                            }
                        }
                    </li>
                </ul>
            </nav><!-- .nav-menu -->

        </div>
    </header><!-- End Header -->

    @RenderBody()

    @*@{
                ProyectoIngenieria.Models.SP_ConsultarUsuarioInicioSesion_Result DatosUsuario =
            (ProyectoIngenieria.Models.SP_ConsultarUsuarioInicioSesion_Result)this.Session["DatosUsuario"];
            }

        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
            </footer>
        </div>*@

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>SAC</span> @DateTime.Now.Year </strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/maxim-free-onepage-bootstrap-theme/ -->
                Designed by <strong><span>SAC</span></strong>
            </div>
        </div>
    </footer><!-- End Footer -->
    <!-- Vendor JS Files -->
    <script src="../../Content/assets/vendor/jquery/jquery.min.js"></script>
    <script src="../../Content/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../Content/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="../../Content/assets/vendor/php-email-form/validate.js"></script>
    <script src="../../Content/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="../../Content/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="../../Content/assets/vendor/venobox/venobox.min.js"></script>
    <script src="../../Content/assets/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="../../Content/assets/js/main.js"></script>
    @RenderSection("scripts", required: false)
    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/Validaciones");
</body>
</html>
