﻿
@{

}
<main id="main" style="margin-top: 5rem;">
    <div class="container">
        <div class="jumbotron">
            <div class="form-group">
                <h2>@this.ViewBag.Mensaje</h2>
            </div>
        </div>

        <div class="row">
            <hr />
            <a href="/Ahorros/Index">Ir a catalogo de ahorros</a>
        </div>
    </div>
</main>
