﻿
@{
    ViewBag.Title = "Index";
}
<main id="main" style="margin-top: 5rem;">
    <div class="container">

        <div class="jumbotron">
            <h2><p>Mantenimiento de cátalogo de ahorros</p></h2>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <left>
                    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#NuevoAhorro">
                        Nuevo
                    </button>
                </left>
                <hr />
            </div>

            <table class="table table-bordered" id="TablaAhorros">
                <thead>

                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <hr />
                    <!-- Modal -->
                    <form id="frmInicioSesion" action="/" method="post">
                        <div class="modal fade" id="NuevoAhorro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
                            <div class="modal-dialog" role="alertdialog">
                                <div class="modal-content">
                                    <div class="modal-header">

                                        <h4 class="modal-title" id="myModalLabel">Registro de nuevo ahorro</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label>Nombre</label>
                                            <input type="text" class="form-control" name="Nombre" id="Nombre" value="" placeholder="Ingrese un nombre" />
                                        </div>
                                        <div class="form-group">
                                            <label>Descripción</label>
                                            <input type="text" class="form-control" name="Descripcion" id="Descripcion" value="" placeholder="Ingrese una Descripción" />
                                        </div>
                                        <div class="form-group">
                                            <label>Tasa de interés</label>
                                            <input type="text" class="form-control" name="TasaInteres" id="TasaInteres" value="" placeholder="Ingrese un nombre" />
                                        </div>
                                        <div class="form-group">
                                            <label>Estado</label>
                                            <select class="form-control" id="Estado" name="Estado">
                                                <option value="">Seleccione un tipo de estado</option>
                                                <option value="1">Activo</option>
                                                <option value="0">Desactivo</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Permite retiro anticipado</label>
                                            <select class="form-control" id="Anticipado" name="Estado">
                                                <option value="">Seleccione una opcion</option>
                                                <option value="1">Permite</option>
                                                <option value="0">No permite</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Comisión de retiro</label>
                                            <input type="text" class="form-control" name="Comision" id="Comision" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input type="button" class="btn btn-success form-control" name="btnGuardar" id="btnGuardar" value="Guardar" />
                                        </div>
                                    </div>
                                    <div class="modal-footer">

                                        <input type="reset" class="btn btn-warning" name="name" value="Limpiar Formulario" />
                                        <button type="submit" name="btnIniciar" id="btnCerrar" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

@Html.ValidationSummary(true)
@section Scripts{

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="~/Scripts/JSGenerico.js"></script>
    <script src="~/Scripts/Ahorros/Ahorros.js"></script>

}