﻿@model ProyectoIngenieria.Models.ViewModels.Ahorros.AhorroCatalogo
@{
    var DatosAhorro = ViewBag.Datos;
}
<main id="main" style="margin-top: 5rem;">
    <div class="container">
        <div class="jumbotron">
            <h2><p>Modificar ahorro por ID</p></h2>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label># de ID: </label>
                    <label id="IdAhorro">@Model.Id</label>
                </div>
            </div>
            <div class="col-sm-4">
                <form action="/" method="post" id="frmModifica" autocomplete="off">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" class="form-control" name="Nombre" id="Nombre" value="@Model.Nombre" placeholder="Ingrese un nombre" />
                    </div>
                    <div class="form-group">
                        <label>Descripción</label>
                        <input type="text" class="form-control" name="Descripcion" id="Descripcion" value="@Model.Descripcion" placeholder="Ingrese una Descripción" />
                    </div>
                    <div class="form-group">
                        <label>Tasa de interés</label>
                        <input type="text" class="form-control" name="TasaInteres" id="TasaInteres" value="@Model.TasaInteres" placeholder="Ingrese un nombre" />
                    </div>
                    <div class="form-group">
                        <label>Estado</label>
                        <select class="form-control" id="Estado" name="Estado">
                            <option value="">Seleccione un tipo de estado</option>
                            @{
                                var Estado = Model.Activo;
                                if (Estado)
                                {
                                    <option value="1" selected>Activo</option>
                                    <option value="0">Desactivo</option>
                                }
                                else
                                {
                                    <option value="1">Activo</option>
                                    <option value="0" selected>Desactivo</option>
                                }

                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Permite retiro anticipado</label>
                        <select class="form-control" id="Anticipado" name="Estado">
                            <option value="">Seleccione una opcion</option>
                            @{
                                var EstadoAnticipado = Model.Anticipado;
                                if (EstadoAnticipado)
                                {
                                    <option value="1" selected>Permite</option>
                                    <option value="0">No permite</option>
                                }
                                else
                                {
                                    <option value="1">Permite</option>
                                    <option value="0" selected>No permite</option>
                                }

                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Comisión de retiro</label>
                        <input type="text" class="form-control" name="Comision" id="Comision" value="@Model.Comision" />
                    </div>
                    <div class="bottom">
                        <input type="button" class="btn btn-success" name="btnModificar" id="btnModificar" value="Modificar" />
                        <input type="reset" class="btn btn-warning" name="btnLimpiarFormulario" id="btnLimpiarFormulario" value="LimpiarFormulario" />
                    </div>
                    <div class="form-group">
                        <hr />
                        <center>
                            <a href="/Ahorros/Index">Cancelar</a>
                        </center>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <br />
</main>
@Html.ValidationSummary(true)
@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="~/Scripts/Ahorros/ModificarAhorro.js"></script>
    <script src="~/Scripts/JSGenerico.js"></script>
    <script src="~/Scripts/ValidacionesGenericas.js"></script>
}